* {
    margin: 0;
    padding: 0;
}

/*公共样式*/
.go {
    position: absolute;
    z-index: 1001;
    right: 35px;
    top: 45px;

}

.more {
    position: absolute;
    z-index: 1001;
    bottom: 85px;
    right: 60px;
    animation: more 0.5s linear infinite alternate;
}

/*公共样式动画*/
@keyframes more {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

/*内容样式*/
.content {
    width: 900px;
    height: 600px;
    /*background-color: rgba(0, 0, 0, .3);*/
    bottom: 0;
    left: 50%;
    margin-left: -450px;
    position: absolute;
}

/*第一屏*/
.screen01 {
    background: url("../images/01-bg.png") no-repeat center bottom;
}

.screen01 .content .goods {
    position: absolute;
    left: 30px;
    bottom: 100px;

}

.screen01 .content .sofa {
    position: absolute;
    left: 230px;
    bottom: 330px;
    animation: sofa01 0.8s linear infinite alternate;

}

.screen01 .content .fly {
    position: absolute;
    top: 0;
    right: -50px;
    animation: fly01 1s linear infinite alternate;
}

/*第一屏动画*/
/*横幅动画*/
@keyframes fly01 {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(30px);
    }

}

/*沙发动画*/
@keyframes sofa01 {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(15px);
    }
}

/*第二屏样式*/
.screen02 {
    background: url("../images/02-bg.png") no-repeat center bottom;
}

.screen02 .content .goods {
    position: absolute;
    top: 180px;
    left: 225px;
    transform: scale(0);
    transform-origin: right bottom;
}

.screen02 .content .sofa {
    position: absolute;
    transform: scale(0.5);
    top: 144px;
    right: 407px;
    /*bottom: -380px;*/
    /*left: 215px;*/
    opacity: 1;
    z-index: -1;
    /*z-index: 1002;*/
}


.screen02 .content .search .input {
    /*最终的状态*/
    position: absolute;
    transform-origin: right top;
    opacity: 0;
}

.screen02 .content .search .key {
    position: absolute;
    left: 445px;
    top: 255px;
    opacity: 0;
}

.screen02 .content .text {
    text-align: center;
}

.screen02 .content .text .text2 {
    opacity: 0;
    position: fixed;
}

.screen02.now .text .text1 {
    opacity: 0;
    position: fixed;
}

.screen02.now .text .text2 {
    opacity: 1;
    position: static;
    transition: opacity 1s;
}

.screen02.now .input {
    animation: input02 3s linear forwards;
}

.screen02.now .search .key {
    animation: key02 1s linear 2s forwards;
    /*opacity: 1;*/
    /*transform: translate(188px,-137px) scale(0.7);*/
    /*transition: all 2s linear 1s;*/
}

.screen02.now .content .goods {
    /*清空所有设置*/
    transform: none;
    transition: all 1s linear 2s;
}

.screen02.leaved .content .sofa {
    /*transform: none;*/
    /*opacity: 1;*/
    /*transform: translate(-75px,680px);*/
    /*z-index: 1001;*/
    /*transition: all 1s linear;*/
    animation: sofa02 1s linear;
}


/*第二屏动画*/
@keyframes sofa02 {
    from {

    }
    to {
        transform: translate(-75px, 680px);
        z-index: 1001;
    }
}

@keyframes input02 {
    0% {
        transform: translate(1200px, 250px);
        opacity: 1;
    }
    33.3% {
        transform: translate(334px, 250px);
        opacity: 1;
    }
    66.7% {
        transform: translate(334px, 250px);
        opacity: 1;
    }
    100% {
        transform: translate(505px, 120px) scale(0.7);
        opacity: 1;
    }
}

@keyframes key02 {
    0% {
        /*transform: translate(445px,255px);*/
        /*opacity: 0;*/
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translate(188px, -137px) scale(0.7);
    }
}


/*第三屏样式*/
.screen03 {
    background: url("../images/03-bg.png") no-repeat center bottom;
}

.screen03 .content .sofa {
    position: absolute;
    top: 180px;
    left: 210px;
    display: none;
}

.screen03 .cart .cart01 {
    position: absolute;
    left: 490px;
    top: 440px;
}

.screen03 .cart .cart02 {
    position: absolute;
    left: 490px;
    top: 440px;
    opacity: 0;
}

.screen03 .change .change01 {
    position: absolute;
    left: 490px;
    top: 290px;
}

.screen03 .change .change02 {
    position: absolute;
    left: 490px;
    top: 290px;
    opacity: 0;
}

.screen03.now .content .sofa {
    display: block;
}

.screen03.now .cart .cart01 {
    opacity: 0;
    transition: opacity 1s linear 0.2s;
}

.screen03.now .cart .cart02 {
    opacity: 1;
    transition: opacity 1s linear 0.2s;
}

.screen03.now .change .change01 {
    opacity: 0;
    transition: opacity 1s linear 0.2s;
}

.screen03.now .change .change02 {
    opacity: 1;
    transition: opacity 1s linear 0.2s;
}

.screen03.leaved .content .sofa {
    /*position: absolute;*/
    /*top: 180px;*/
    /*left: 210px;*/
    /*display: none;*/
    animation: sofa03 1s linear;
}

/*第三屏动画*/
@keyframes sofa03 {
    from {

    }
    to {
        transform: translate(110px, 710px) rotate(30deg);
        z-index: 1002;
    }
}


/*第四屏样式*/
.screen04 {
    background: url("../images/04-bg.png") no-repeat center bottom;
}

.screen04 .content .sofa {
    position: absolute;
    left: 319px;
    top: 174px;
    transform: rotate(30deg);
    opacity: 0;
}

.screen04 .content .cart {
    position: absolute;
    left: 150px;
    top: 200px;
    z-index: 1003;
}

/*.screen04 .content .text {*/
/*    display: none;*/
/*}*/
.screen04 .content .cloud {
    position: absolute;
    top: -66px;
    left: -666px;
}

/*.screen04 .content .address {*/
/*    opacity: 0;*/
/*}*/

.screen04 .content .text .text01 {
    position: absolute;
    display: block;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.screen04 .content .text .text02 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.screen04 .content .address01 {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.screen04 .content .address02 {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.screen04 .content .address.show .address01 {
    opacity: 1;
    transition: all 1s linear 0.5s;
}

.screen04 .content .address.show .address02 {
    opacity: 1;
    transition: all 0.5s linear 1s;
}

.screen04.now .content .cloud {
    animation: cloud04 20s linear infinite alternate;
}

.screen04.now .content .sofa {
    opacity: 1;
    transform: translateX(2000px) rotate(30deg);
    transition: transform 3s linear 1s;
}

.screen04.now .content .cart {
    animation: cart04 3s linear 1s forwards;
}

.screen04 .content .text.show .text01 {
    display: none;
}

.screen04 .content .text.show .text02 {
    opacity: 1;
    transition: all 1s linear;
}

/*第四屏动画*/
@keyframes cloud04 {
    from {

    }
    to {
        transform: translateX(1333px);
    }
}

@keyframes cart04 {
    from {

    }
    to {
        transform: translateX(2000px);
    }

}

/*第五屏样式*/
.screen05 {
    background: url("../images/05-bg.png");
}

.screen05 .content {
    height: 100%;
}

.screen05 .content .text {
    position: absolute;
    top: 100px;

}

.screen05 .content .card {
    position: absolute;
    top: 280px;
}

.screen05 .content .card .cardImg {
    position: absolute;
    z-index: 1001;
}

.screen05 .content .card .order {
    position: absolute;
    /*最终位置*/
    /*top: -80px;*/
    /*left: 150px;*/
    /*opacity: 0;*/
    /*开始位置*/
    top: 10px;
    left: 150px;
}

.screen05 .content .card .sofa {
    position: absolute;
    /*z-index: 1003;*/
    /*最终位置*/
    /*top: 150px;*/
    /*left: 90px;*/
    /*中间位置*/
    /*top: 30px;*/
    left: 90px;
    transform: rotate(30deg);
    transform: translateY(1000px);

}

.screen05 .content .mouse {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 400px;
    overflow: hidden;
    /*z-index: -1;*/
}

.screen05 .content .mouse .mouse01,
.screen05 .content .mouse .mouse02 {
    position: absolute;
    right: 0;
    bottom: 230px;
}

.screen05 .content .mouse .mouse01 {
    position: absolute;
    opacity: 1;
}

.screen05 .content .mouse .mouse02 {
    position: absolute;
    opacity: 0;
}

.screen05 .content .hand {
    position: absolute;
    right: 50px;
    bottom: 0;
    transform: translateY(800px);
    z-index: 0;
}

.screen05.now .content .hand {
    transform: none;
    transition: all 1s linear;
    z-index: 1001;

    overflow: hidden;
}

.screen05.now .content .mouse01 {
    opacity: 0;
    transition: all 0.5s linear 1s;
}

.screen05.now .content .mouse02 {
    opacity: 1;
    transition: all 0.5s linear 1s;
}

.screen05.now .content .card .order {
    transform: translateY(-100px);
    transition: all 1s linear 2s;
}

.screen05.now.leaved .content .card .sofa {
    z-index: 1003;
    animation: sofa05-2 1s linear forwards;
}

@keyframes sofa05-2 {
    from {
        opacity: 1;
        transform: rotate(30deg);
    }
    50% {
        opacity: 1;
        transform: translateY(320px) scale(0.4) rotate(30deg);
    }
    to {
        opacity: 0;
        transform: translateY(640px) scale(0.2) rotate(30deg);
    }
}

@keyframes sofa05 {
    from {
        transform: translateY(-800px) rotate(30deg);
    }
    50% {
        transform: translateY(30px) rotate(30deg);
    }
    to {
        transform: translateY(150px) rotate(30deg);
    }
}

.screen05.now .content .card .sofa {
    animation: sofa05 2s linear 1.5s forwards;
}

/*第六屏样式*/
.screen06 {
    background: url("../images/06-bg.png") no-repeat 25% bottom;
}

.screen06.now {
    background: url("../images/06-bg.png") no-repeat 100% bottom;
    transition: all 1s linear 1s;
}
.screen06 .content .cloud {
    position: absolute;
    top: -70px;
}

.screen06 .content .cloud .cloud01 {
    position: absolute;
    left: -200px;
}

.screen06 .content .cloud .cloud02 {
    position: absolute;
    left: 50px;
}

.screen06.now .content .cloud .cloud01 {
    animation: cloud06 20s linear infinite alternate;
}

.screen06.now .content .cloud .cloud02 {
    animation: cloud06-2 20s linear infinite alternate;
}


@keyframes cloud06 {
    from {
    }
    to {
        transform: translateX(500px);
    }
}

@keyframes cloud06-2 {
    from {
    }
    to {
        transform: translateX(-500px);
    }
}

.screen06 .content .box {
    position: absolute;
    /*最终位置*/
    left: 130px;
    top: 100px;
    transform: translateX(-800px);
}

.screen06 .content .box.show {
    animation: box06 2s linear forwards;

}

@keyframes box06 {
    from {

    }
    50% {
        transform: none;
    }
    to {
        transform: translateY(360px) scale(0.3);
    }
}

.screen06 .content .car {
    position: absolute;
    bottom: 0;
    left: 130px;
}

.screen06 .content .address {
    position: absolute;
    bottom: 170px;
    left: 300px;
}

.screen06 .content .address .buyer {
    position: absolute;
    opacity: 0;
}

.screen06 .content .address .addressImg {
    position: absolute;
    opacity: 0;
}

.screen06.now .content .address .buyer {
    opacity: 1;
    transition: opacity 0.3s linear 1.2s;
}

.screen06.now .content .address .addressImg {
    opacity: 1;
    transition: opacity 0.5s linear 1.5s;
}

.screen06 .content .worker {
    position: absolute;
    /*left: 330px;*/
    /*bottom: 100px;*/
    transform-origin: left bottom;
    transform: scale(0);
    bottom: 0;
    left: 130px;
}

.screen06 .content .say {
    position: absolute;
    left: 480px;
    bottom: 360px;
    opacity: 0;
}

.screen06.now .content .worker {
    /*transform: scale(1);*/
    /*transition: all 1s linear 2s;*/
    animation: worker06 2s linear 2s forwards;
}

@keyframes worker06 {
    from {

    }
    33.3% {
        transform: scale(1);
    }
    66.7% {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(-100px) translateX(200px);
    }
}

.screen06.now .content .say {
    opacity: 1;
    transition: all 0.5s linear 4s;
}

.screen06 .content .door {
    position: absolute;
    right: -33px;
    bottom: 113px;
    opacity: 0;
}
.screen06.now .content .door{
    opacity: 1;
    transition: all 0.5s linear 5s;
}
.screen06 .content .person {
    position: absolute;
    bottom: 112px;
    right: -65px;
    transform: scale(0);
    transform-origin: right bottom;
}
.screen06.now .content .person {
    animation: person06 2s linear 5.5s forwards;
}
@keyframes person06 {
    from{

    }
    50%{
        transform: scale(1);
    }
    to{
        transform: translateX(-240px) scale(1);
    }
}
.screen06 .content .text{
    position: absolute;
    top: 80px;
    left: 130px;
}
.screen06 .content .text .text01{
    position: absolute;
    /*top: 130px;*/
    /*left: 50px;*/
    opacity: 1;
}
.screen06 .content .text .text02{
    position: absolute;
    /*top: 130px;*/
    /*left: 50px;*/
    opacity: 0;
}
/*.screen06.now .content .text .text01{*/
/*    opacity: 0;*/
/*    transition: all 0.2s linear 4.5s;*/
/*}*/
.screen06.now .content .text .text02{
     opacity: 1;
     transition: all 0.5s linear 4.5s;
 }
/*第七屏样式*/
.screen07 {
    background: url("../images/07-bg.png") center bottom no-repeat;
}
.screen07 .content .star {
    position: absolute;
    left: 152px;
    top: 142px;
    /*opacity: 0;*/
}
.screen07 .content .star img {
    float: left;
    margin-left: 6px;
    opacity: 0;
}
.screen07.now .content .star img {
    animation: star07 2.5s ease-in-out forwards;
}
@keyframes star07 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
.screen07 .content .text {
    position: absolute;
    left: 152px;
    top: 180px;
    transform: scale(0);
    transform-origin: left bottom;
}
.screen07.now .content .text {
    animation: text07 1s linear  0.5s forwards;

}

@keyframes text07 {
    from{

    }
    50%{
       transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

/*第八屏样式*/
.screen08 {
    background: url("../images/08-bg.png");
}
.screen08 .content .btn{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}
.screen08 .content .btn .btn01{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;

}
.screen08 .content .btn .btn01:hover{
    opacity: 0;
}
.screen08 .content .again {
    position: absolute;
    top: 70px;
    right: 0px;
}
.screen08 .content .hand {
    position: absolute;
}










